@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 200, 200, 200;
    --background-end-rgb: 180, 180, 180;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* globals.css */
/* body { */
/* background-image: url('bg.jpg'); Replace with your image path */
/* background-size: cover; Cover the entire area */
/* background-position: center; Center the image */
/* background-repeat: no-repeat; Prevent repeating */
/* min-height: 100vh; Ensure it covers full height */
/* } */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
